<script setup>
import { useGLTF } from '@tresjs/cientos'
const { scene: model } = await useGLTF('test.glb')

</script>

<template>
  <primitive 
  :object="model"
  />
</template>

<script>
export default {
  data() {
    return {
      rotation: 0
    }
  },

  computed: {},

  created () {
  },
  unmounted () {
  },
  methods: {
  
  }
}
</script>